@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width:100%;
    height: 100vh;
    display: grid;
    align-items: center;
    background: linear-gradient(120deg,#2980b9,#8e44ad);
}

.contact-in{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 0px 0px;

}

.contact-map{
    width: 100%;
    height: auto;
    flex: 50%;

}

.contact-map iframe{
    width: 100%;
    height: 100%;
    
}
.contact-form{
    
    width: 100%;
    height: auto;
    flex: 50%;
    padding:30px
    text-align: center;
}

.contact-form h1{
    margin-bottom: 10px;
}

.contact-form-txt{
    
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.time_slot {
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.contact-form-txt::placeholder{
    color:#aaa;
}

.time_slot::placeholder {
    color:#aaa;
}

.contact-form-textarea{
    width: 100%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.contact-form-textarea::placeholder{
    color:#aaa;
}

.contact-form-btn{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background: linear-gradient(120deg,#2980b9,#8e44ad);
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;
}

.address_form {
    padding-left: 20px;
    padding-right: 20px;
}

#error_message{
    margin-bottom: 20px;
    background: #fe8b8e;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}