@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
	margin:0;
	padding:0;
    font-family: 'Poppins', sans-serif;
}

body{
	display:flex;
	min-height:100vh;
	align-items:center;
	justify-content:center;
	background: #c8efd1;
}

.rating-css{
	height:250px;
	width:400px;
	background:#101012;
	padding:20px;
    box-shadow: 4px 4px 2px #fdd01c;
}

.rating-css div{
	color:#ffe400;
	font-size:30px;
	font-family:sans-serif;
	font-weight:800;
	text-align:center;
	text-transform:uppercase;
	padding:10px 0;
}

.rating-css input{
	display:none;
}

.rating-css input+label{
	font-size:60px;
	text-shadow:1px 1px 0 #ffe400;
	cursor:pointer;
}

.rating-css input:checked+label~label{
	color:#838383;
}

.rating-css label:active{
	transform:scale(0.8);
	transition:0.3s ease;
}

.btn{
	border-radius:20px;
	color:#fff;
	margin-top:18px;
	padding:10px;
	background-color:#47c35a;
	font-size:15px;
	border:none;
	cursor:pointer;
    font-weight: 1000px;
}